.header
    display: grid
    grid-template-columns: repeat(2, auto)
    align-items: center
    justify-content: space-between
    padding-block: 20px
    gap: 12px

.logo
    font-size: 20px
    letter-spacing: -1px

.nav
    display: flex
    align-items: center
    column-gap: 32px
    &__list
        column-gap: 32px
    &__link
        padding-block: 12px

.banner
    background-color: var(--color-accent-lite)
    display: grid
    grid-template-columns: repeat(2, 1fr)
    align-items: center
    justify-items: center
    &__body
        max-width: 600px
        margin: 20px 60px
    &__title
        display: flex
        flex-direction: column
        row-gap: 20px
        margin-bottom: 18px
    &__text
        margin-bottom: 30px

.our-firm
    display: flex
    justify-content: center
    column-gap: 132px
    &__heading
        white-space: nowrap
    &__body
        max-width: 500px
        display: flex
        flex-direction: column
        row-gap: 10px

.figure
    display: flex
    align-items: center
    &__img
        width: 84px
        aspect-ratio: 1

.figcaption
    padding: 30px

.author
    font-size: 18px
    line-height: 1.44
    &__post
        font-size: 14px
        line-height: 1
        color: var(--color-accent)