@media (width <= 1024px)

    .link, .button
        font-size: 14px

    .nav
        column-gap: 24px
        &__list
            column-gap: 24px
        &__link
            padding-block: 8px

    .banner
        &__body
            margin-inline: 40px
        &__title
            display: flex
            flex-direction: column
            row-gap: 8px
            margin-bottom: 12px
        &__text
            margin-bottom: 20px

@media (width <= 900px)

    .banner
        grid-template-columns: 1fr
        &__body
            margin: 18px 16px
        &__img
            display: none

@media (width <= 768px)

    .text
        font-size: 14px

    .button
        padding: 6px 12px

    .nav
        display: contents
        column-gap: 16px
        &__list
            column-gap: 16px
            order: 1
            justify-self: center
            grid-column: 1 / -1
        &__link
            padding-block: 6px
