@media (width <= 1024px)

    .section-padding-block
        padding-block: calc( var(--section-padding-block) / 2 )
        &_small
            padding-block: calc( var(--section-padding-block-small) / 2 )

    .link, .button
        font-size: 14px

    .nav
        column-gap: 24px
        &__list
            column-gap: 24px
        &__link
            padding-block: 8px

    .banner
        &__body
            margin-inline: 40px
        &__title
            display: flex
            flex-direction: column
            row-gap: 8px
            margin-bottom: 12px
        &__text
            margin-bottom: 20px

    .our-firm
        justify-content: space-around
        column-gap: 18px

    .section-with-big-bg
        min-height: 400px    
        background-position: center
        &__body
            margin-right: 42px

    .how-we-do
        &__item
            padding-inline: 16px

@media (width <= 900px)

    .banner
        grid-template-columns: 1fr
        &__body
            margin: 18px 16px
        &__img
            display: none

@media (width <= 768px)

    .section-padding-block
        padding-block: calc( var(--section-padding-block) / 4 )
        &_small
            padding-block: calc( var(--section-padding-block-small) / 3 )

    .text
        font-size: 14px

    .button
        padding: 6px 12px

    .nav
        display: contents
        column-gap: 16px
        &__list
            column-gap: 16px
            order: 1
            justify-self: center
            grid-column: 1 / -1
        &__link
            padding-block: 6px

    .figcaption
        padding: 16px

    .section-with-big-bg
        min-height: 300px
        text-align: right
        &__body
            margin-right: 16px

    .how-we-do
        &__heading
            row-gap: 4px
        &__body
            display: grid
            grid-template-columns: minmax(230px, 378px)
            justify-content: center
            row-gap: 28px
        &__item
            padding-inline: 0        