:root
    --font-family: 'Poppins', sans-serif

    --color-lite: #ffffff
    --color-lite-with-opacity: #ffffff80
    --color-lite-alternate: #ECE7E4
    --color-dark: #1B1A1A
    --color-accent-lite: #CEC4BC
    --color-accent: #645C55
    --color-accent-dark: #403E3B

    --container-width: 1168px
    --container-padding-inline: 16px

    --section-padding-block: 100px
    --section-padding-block-small: 60px
